<main id="main">
    <header id="header" class="main-header">
        <h1 id="heading1">Pharmacy Loyalty Program</h1>
        <h1 id="heading2"><span id="logo">⚕</span></h1>
    </header>

    <nav id="nav" class="main-nav">
        <ul id="ul">
            <li class="li"><a routerLink="/main-page" class="li-a">Home</a></li>
            <li class="li"><a routerLink="/about-us" class="li-a">About</a></li>
            <li class="li"><a class="li-a">Contact</a></li>
        </ul>
    </nav>

    <section id="main-section">
        <div id="main-section-container">
            <div id="container-1">
                <div id="container-1-1">
                    <h2 id="welcome-msg">Welcome!</h2>
                </div>
                <div id="container-1-2">
                    <h5 id="benefits-heading">Benefits of having a loyalty program:</h5>
                    <ul id="ul">
                        <li class="li">enhance customer retention</li>
                        <li class="li">boost sales</li>
                        <li class="li">build strong relationships</li>
                    </ul>
                </div>
            </div>
            <div id="container-2">
                <div id="container-2-1">
                    <h2 id="h2-logo">Pharmacy One</h2>
                </div>
                <div id="container-2-2">
                    <button id="btn-login" (click)="onLoginClick()">Login</button>
                </div>
            </div>
        </div>
    </section>
</main>